@font-face {
    font-family: inter;
    src: url("../assets/fonts/InterVar.ttf");
}
:root {
 /*https://linear-easing-generator.netlify.app*/
  --spring-easing: linear(0, 0.01, 0.03, 0.11 5%, 0.59 15%, 0.78, 0.92, 1, 1.03, 1.04 42%, 1 69%, 1);
  --spring-duration: 0.5s;
}
header {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr auto 1fr;
	position: relative;
	width: 100%;
	align-items: center;
	position: fixed;
	z-index: +9999;
	top: 0;
	left: 0;
	padding: 6px 10px;
	backdrop-filter: blur(27px);
}
body{
    font-family: inter;
    background: black;
}
html{
    scroll-behavior: smooth;
}
p,h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}
header img{
    height: 37px;
}
body [sectitle]:first-of-type{
    margin-top: 75px !important; /*header*/
}
section[fill]{
  display: flex;
  padding-left: 3px;
  width: 100%;
  gap: 5px;
  align-items: center;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  overflow: hidden;
  /* margin: 34px 27px; */
  position: relative;
  padding: 2px 0px;
  height: 270px;
  margin-top: 5px !important;
}
movie{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    overflow: clip;
    border: 1px solid #ffffff14;
    position: relative;
}
section > movie:first-of-type{
    margin-left: 34px !important;
}
movie p{
    position: absolute;
    left: 0;
    color: white;
    bottom: 0;
    transition: 0.2s;
    transform: translateY(24px);
    width: 100%;
    font-size: 11px;
    padding: 5px 0px;
    text-align: center;
}
movie::before{
    position: absolute;
    font-family: bootstrap-icons !important;
    left: 50%;
    top: 50%;
    transition: 0.2s;
    font-size: 33px;
    transform: translate(-45%,-49%) scale(0);
    z-index: 2;
    color: rgb(0, 0, 0);
    content: '\F4F4';
    will-change: transform;
    mix-blend-mode: soft-light;
}
movie:hover::before{
    transform: translate(-45%,-49%) scale(1);
}
movie:hover::after{
    transform: translate(-50%,-50%) scale(1);
}
movie::after{
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    left: 50%;
    top: 50%;
    will-change: transform;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50px;
    backdrop-filter: blur(7px) brightness(1.5) saturate(1.1);
    width: 50px;
    height: 50px;
    transition: 0.3s;
    z-index: 0;
    content: '';
    box-shadow: 2px 2px 3px -5px rgb(255, 255, 255) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.56) inset, 0px 0px 15px rgba(0, 0, 0, 0.37);
}
movie:hover p{
    transform: translateY(0px);
}
section[fill] img{
    height: 100%;
}
fullwindow{
  position: fixed;
  width: 100vw;
  z-index: +99999;
  overflow-x: hidden;
  height: 100vh;
  background: linear-gradient(90deg,transparent -150%,black 70%);
  transition: 0.2s all,0.5s backdrop-filter;
  left: 0;
  top: 0;
}
fullwindow:has([backdrop]:not([loaded])){
  backdrop-filter: blur(36px);
}
fullwindow [backdrop]{
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.4);
    z-index: -1;
    will-change: transform,scale,opacity;
    transition: 0.3s opacity, 0.3s 0.5s transform ;
}
fullwindow [backdrop][loaded]{
    opacity: 1;
    transform: scale(1);
}
fullwindow[closing]{
    transform: translateX(100vw);
}
[back]::before{
    font-family: bootstrap-icons !important;
    content: '\F284';
    font-size: 14px;
    color: white;
}
[back]{
  width: 37px;
  height: 37px;
  position: fixed;
  left: 10px;
  top: 10px;
  display: flex;
  z-index: +9999;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  transform: scale(0);
  background: #0000003b;
  backdrop-filter: blur(20px) brightness(1.5);
  border: none;
  box-shadow: 2px 2px 3px -5px rgb(255, 255, 255) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.38) inset, 0px 0px 15px rgba(0, 0, 0, 0.69);
  animation: open-button 0.4s 0.7s forwards;
}
@keyframes open-button{
    from{
        transform: scale(0);
    }
    60%{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}
[back]:active{
    transform: scale(1.07) !important;
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: brightness(3) saturate(1.3);
    box-shadow: 2px 2px 3px -4px rgba(255, 255, 255, 0.45) inset, -2px -2px 2px -1px rgba(255, 255, 255, 0.12) inset, 0px 0px 15px rgba(0, 0, 0, 0.69);
}

/*by Chris Coyier - @chriscoyier https://codepen.io/chriscoyier/pen/YzKWYWa */
fullwindow[info] [hiddenB] {
  position: relative;
  color: white;
}
fullwindow[info] [head]{
  font: 70px inter, sans-serif;
  font-weight: 900;
}

@supports (backdrop-filter: blur(12px)) {
  fullwindow[info] [hiddenB] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  fullwindow[info] h1{
    backdrop-filter: blur(14px) brightness(2.3);
    background: #ffffff0d;
    clip-path: url(#blurmask);
    height: 80px;
  }
}
fullwindow[info]{
    display: flex;
    flex-direction: column;
}
fullwindow[info]::after{
    width: 100%;
    z-index: -1;
    position: fixed;
    content: '';
    left: 0;
    bottom: 0;
    background: black;
    height: 25%;
    mask: linear-gradient(0deg,white -8%,#f000 100%);
}
p[vibrant]{
    color: #ffffff3d;
}
fullwindow[info] *:not([backdrop],button,img,similarcard){
    margin-left: 10px;
}
plot{
  max-width: 85%;
  background: #ffffff05;
  padding: 9px 14px;
  box-sizing: border-box;
  margin: 8px 0px;
  width: fit-content;
  border-radius: 25px;
  color: #ffffffed;
  backdrop-filter:blur(31px) brightness(1.7);
  font-size: 15px;
  text-shadow: 0px 0px 10px #000000a8;
}
fullwindow[info] playcontrol button{
  background: #ffffff24;
  border: none;
  font-family: inherit;
  border-radius: 50px;
  padding: 9px 13px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: white;
  backdrop-filter: blur(20px);
}
fullwindow[info] playcontrol{
    gap: 5px;
    display: flex;
}
playcontrol button::before{
    font-family: bootstrap-icons !important;
    font-size: 11px;
    margin-right: 5px;
}
playcontrol [notplayable]::before{
    content: '\F33A';
}
playcontrol [trailer]::before{
    content: '\F3C3';
}
playcontrol [playable]::before{
    content: '\F4F4';
}
fullwindow{
    overflow-y: auto;
}
fullwindow section:first-of-type{
    height: 100vh;
    justify-content: flex-end;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
fullwindow section:nth-of-type(2){
    flex-shrink: 0;
    overflow-x: hidden;
    padding-top: 20px;
}
fullwindow section:nth-of-type(2) img {
	height: 150px;
	border-radius: 20px;
}
fullwindow section:nth-of-type(2) similar{
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    padding: 10px 0px 10px 10px;
    scrollbar-width: none;
}

simlarcard {
	border-radius: 20px;
	display: block;
	position: relative;
	width: 267px;
    cursor: pointer;
	overflow: clip;
	margin: 0px !important;
	height: 171px;
	backdrop-filter: blur(7px) brightness(1.6);
	padding: 4px;
	margin-right: 5px !important;
}
simlarcard p {
	color: white;
	font-size: 12px;
	text-align: center;
    margin: 0px !important;
    text-shadow: 0px 0px 12px black;
}
iframewindow{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    display: block;
    z-index: +99999;
    top: 0;
    transition: 0.3s;
}
iframewindow iframe{
    width: 100vw;
    height: 100vh;
}
iframewindow[closing]{
    transform: scale(0.3);
    opacity: 0;
}
fullwindow[info] h3{
 color: #ffffffd1;
}
/* simlarcard::before{
    width: 135px;
    height: 135px;
    position: absolute;
    content: '';
    transition: 1s;
    left: 50%;
    top: 44%;
    transform: translate(-50%,-50%) scale(0);
    background-color: rgba(0, 0, 0, 0.048);
    border-radius: 50%;
   backdrop-filter: blur(10px) brightness(3); 
}
simlarcard:hover::before{
    transform: translate(-50%,-50%) scale(5);
    opacity: 0;
} */
h2[sectitle]{
    margin-top: 20px;
    color: white;
}
center-tab {
	display: flex;
    position: relative;
    align-items: center;
	gap: 6px;
}
center-tab [search]{
  background: #ffffff69;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  z-index: +9;
  font-size: 16px;
}
tabs {
	display: flex;
	gap: 3px;
	border-radius: 50px;
	padding: 3px;
	background: #ffffff1f;
}
tab {
	background: #00000014;
    padding: 5px 9px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    color: white;
    font-size: 13px;
}
tab[active]::before{
    transform: scale(1);
    opacity: 1;
}
tab::before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
    opacity: 0;
    transition: 0.2s;
    border-radius: 50px;
    background: #ffffff40;
    content: '';
}
center-tab input[searchin]{
  position: absolute;
  border: none;
  outline: none;
  font-family: inherit;
  border-radius: 50px;
  background: transparent;
  transition: 0.2s all,0.5s background;
  width: 30px;
  height: 30px;
  color: transparent;
  pointer-events: none;
  padding: 0px 9px;
  will-change: width,height;
  box-sizing: border-box;
  font-size: 13px;
}
center-tab input[searchin][full]{
  width: 100%;
  pointer-events: all;
  filter: none;
  color: black;
  transition: all var(--spring-easing) var(--spring-duration) !important;
  height: 100%;
  z-index: +9;
  background: #ffffff;
}
center-tab:has(input[searchin][full]) button[search]{
    position: absolute;
    will-change: transform;
    right: 0;
    animation: open-search 0.4s;
}
@keyframes open-search{
    from{
        transform: translateX(-100px) scale(0);
        opacity: 0;
    }
    50%{
        transform: translateX(10px) scale(1.05);
        opacity: 1;
    }
    to{
        transform: translateX(0px) scale(1);
        opacity: 1;
    }
}
section[hiddenA],[sectitle][hiddenA]{
    opacity: 0;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0px;
    transition:0.2s opacity,0.1s 0.3s height,0.1s 0.3s padding,0.1s 0.3s margin;
}
[smallactionb]{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}  
[smallactionb]::before{
    margin: 0px !important;
    font-size: 16px;
    will-change: transform;
    transition: 0.2s;
}
[smallactionb]:active:before{
    transform: scale(0.8);
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
[smallactionb][actived]::before{
    animation: open-spring 0.2s;
    z-index: +1;
}
[action=watched][actived]::before{
    color: #00000080;
}
@keyframes open-spring{
    from,to{
        transform: scale(1);
    }
    50%{transform: scale(1.2);}
}
[action=watched]::after{
    position: absolute;
    left: 0;
    will-change: transform;
    top: 0;
    width: 100%;
    transition: 0.2s;
    content: '';
    height: 100%;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.41);
    transform: scale(0);
}
[action=watched][actived]::after{
    transform: scale(1);
}
[action=like]::before{content: '\F407';}
[action=like][actived]::before{content: '\F406';}
[action=dislike]::before{content: '\F405';}
[action=dislike][actived]::before{content: '\F404';}
[action=watched]::before{content: '\F272';}
[action=watchlist]::before{content: '\F1A2';}
[action=watchlist][actived]::before{content: '\F199';}

right{
  display: flex;
  justify-content: flex-end;
  padding: 0px 25px;
}
[account]{
  width: 35px;
  height: 35px;
  border-radius: 50px;
  font-size: 26px;
  color: white;
  background: #fbfbfb00;
  border: none;
  cursor: pointer;
  will-change: transform;
  transition: 0.2s;
  position: relative;
}
[account]:active{
    transform: scale(0.95);
}
[accountpg] h1,h2,h3,h4,h5,p,li{
    color: white;
}
[accountpg] main{
    margin-left: 285px;
    margin-top: 14px;
}
[accountpg] aside {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	width: 190px;
	height: fit-content;
	background: rgb(24, 24, 24);
	margin: 8px;
    margin-top: 130px !important;
	border-radius: 17px;
	box-sizing: border-box;
	gap: 2px;
	padding: 5px 5px;
}
[accountpg] item {
	background: #ffffff0a;
	border-radius: 10px;
	padding: 6px 11px;
    color: #ffffff8c;
    cursor: pointer;
}
[accountpg] item:hover{
	background: #ffffff10;
}
[accountpg] item[selected]{
    transition: 0.3s;
    background: #8d8d8d4a;
    color: white;
}
[accountpg] h3 ,[usemar]{
	margin: 3px 38px;
	font-weight: 400;
}
[usemar=left]{
    margin-right: 0px !important;
}
statbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background: #ffffff0f;
  padding: 10px;
  border-radius: 19px;
}
statbox p,[bio]{
  font-size: 12px;
  color: #fffefe7a;
}
statbox p[big]{
  font-size: 23px;
  font-weight: 600;
  color: white;
}
stats{
    display: flex;
    margin: 10px;
	margin: 3px 38px;
    gap: 10px;
}
button[reset],button[def]{
	border-radius: 50px;
	border: none;
	font-size: 15px;
	font-weight: 600;
	font-family: inherit;
	padding: 5px 9px;
	background: #161616;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
	color: white;
	cursor: pointer;
}
alert{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    display: flex;
    transition: 0.2s;
    z-index: +99999;
    flex-direction: column;
    border-radius: 29px;
    background: #141414;
    box-shadow: 0px 0px 21px black;
    width: 22%;
}
alert controls {
	display: flex;
	flex-direction: row;
	width: 100%;
	border-radius: 0px 0px 50px 50px;
	overflow: hidden;
	gap: 1px;
}
alert p{
  padding: 0px 6px;
  padding-bottom: 13px;
  text-align: center;
  font-size: 13px;
  color: #ffffffd1;
}

alert controls button {
	background: #ffffff08;
	color: white;
	font-family: inherit;
	font-size: 14px;
    cursor: pointer;
	border: none;
    width: 100%;
	height: 100%;
	padding: 7px 0px;
}
alert[hiddenA]{
    transform: translate(-50%,-50%) scale(0);
}
shistory {
	color: white;
	display: flex;
	flex-direction: column;
	background: #0f0f0f;
	width: fit-content;
	border-radius: 19px;
	padding-bottom: 10px;
	max-height: 116px;
	overflow-y: scroll;
	scrollbar-width: none;
}
bar {
	width: 100%;
	padding-top: 10px;
	text-align: center;
	border-bottom: 1px solid #ffffff12;
	margin-bottom: 5px;
	padding-bottom: 7px;
	font-weight: bold;
}
shistory searchitem{
    transition: 0.2s;
	padding: 0px 19px;
    display: flex;
    justify-content: space-between;
    gap: 41px;
}
shistory searchitem[hiddenA]{
    transform: translateX(10px);
    opacity: 0;
}
[clearsearch]{
	background: transparent;
	color: white;
	border-radius: 50px;
	width: 23px;
	height: 23px;
	font-size: 11px;
	background: #ffffff0f;
	border: none;
	margin: 1px;
	cursor: pointer;
    font-family: bootstrap-icons !important;
}
alert[extra]{
    background: #180c0c;
}
alert h3{
  padding: 19px 19px 8px 19px;
  margin: 0px !important;
  text-align: center;
  font-weight: 600 !important;
}
[prevent]{
    opacity: 0.7;
    pointer-events: none;
    color: #ba3f3f;
}
[reset][extra]:hover{
    background: #1a1111;
    color: #ffa3a3;
    transition: 0.2s;
}
legal a,legal a:hover,legal a:active,legal:visited{
    color: inherit;
}
main > section:first-of-type h1{
    padding-top: 135px;
}
[accountpg] h1[title]{
    margin-top: 60px !important;
    position: fixed;
}
[accountpg] [back]{
    top: 0px;
    left: 7px;
    margin-top: 75px !important;
}

[accountpg] h1[title] > i{
    opacity: 0.5;
}
seperator{
  width: 100%;
  height: 1px;
  background: #ffffff0d;
  margin: 3px 0px;
}
windowmove{
  display: block;
  background: rgba(255, 255, 255, 0.123);
  position: fixed;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
  z-index: -1;
  border-radius: 50px;
}
splash{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
    flex-direction: column;
	background: black;
	z-index: +99999;
	top: 0;
	left: 0;
    gap: 17px;
}
splash img{
    mix-blend-mode: luminosity;
}
splash flex{
  position: relative;
  display: flex;
}
splash loader{
  width: 209px;
  height: 100px;
  background: linear-gradient(90deg,transparent,red,transparent);
  mix-blend-mode: color;
  position: absolute;
  left: 0%;
  animation:  loader 4s infinite; 
}
@keyframes loader{
    from{
        transform: translateX(-110%);
    }
    to{
        transform: translateX(110%);
    }
}
splash p{
  text-transform: uppercase;
  font-size: 11px;
  mix-blend-mode: luminosity;
  color: #575757;
}
splash[hiddenA]{
    opacity: 0;
    transition: 0.3s;
}
[navigate] {
	position: absolute;
	z-index: +9;
	font-family: bootstrap-icons !important;
	width: 28px;
	border-radius: 50px;
	height: 28px;
    cursor: pointer;
    transition: 0.3s;
	border: none;
	font-size: 18px;
	padding: 4px;
	box-sizing: content-box;
	backdrop-filter: blur(8px) brightness(3);
	background: #79797926;
	color: #ffffff87;
	box-shadow: 0px 0px 10px #00000085;
}
[navigate=left]{
    left: 20px;
}
[navigate=right]{
    right: 20px;
}
scroller{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
scroller::before,scroller::after{
	width: 130px;
	height: 100%;
	position: absolute;
    transition: 0.3s;
    pointer-events: none;
	content: '';
	z-index: 8;
}
scroller::before{
	background: linear-gradient(90deg,transparent,black);
	right: 0;
}
scroller::after{
	background: linear-gradient(90deg,black,transparent);
	left: 0;
}
scroller[pre]::after{
    width: 34px !important;
}
scroller[pre] [navigate='left']{
    transform: scale(0);
}
prog{
  height: 5px;
  width: 196px;
  background: #fff0;
  border-radius: 50px;
  border: 1px solid #ffffff14;
  position: relative;
  mix-blend-mode: luminosity;
}
prog val{
  width: 1%;
  transition: 0.3s;
  height: 100%;
  display: block;
  background: #ffffff82;
  border-radius: 50px;
  mix-blend-mode: luminosity;
}