@font-face {
    font-family: inter;
    src: url("../assets/fonts/InterVar.ttf");
}
header{
    height: 37px;
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}
body{
    font-family: inter;
    background: black;
}
p,h1,h2,h3,h4{
    padding: 0;
    margin: 0;
}
header img{
    height: 37px;
}
section[fill]{
  display: flex;
  padding-left: 3px;
  gap: 5px;
  align-items: center;
  scrollbar-width: thin;
  overflow-x: scroll;
    margin: 34px 27px;
  height: 270px;
}
movie{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    overflow: clip;
    border: 1px solid #ffffff14;
    position: relative;
}
movie p{
    position: absolute;
    left: 0;
    color: white;
    bottom: 0;
    transition: 0.2s;
    transform: translateY(24px);
    width: 100%;
    font-size: 11px;
    padding: 5px 0px;
    text-align: center;
}
movie::before{
    position: absolute;
    font-family: bootstrap-icons !important;
    left: 50%;
    top: 50%;
    transition: 0.2s;
    font-size: 33px;
    transform: translate(-45%,-49%) scale(0);
    z-index: 2;
    color: rgb(0, 0, 0);
    content: '\F4F4';
    will-change: transform;
    mix-blend-mode: soft-light;
}
movie:hover::before{
    transform: translate(-45%,-49%) scale(1);
}
movie:hover::after{
    transform: translate(-50%,-50%) scale(1);
}
movie::after{
    position: absolute;
    transform: translate(-50%,-50%) scale(0);
    left: 50%;
    top: 50%;
    will-change: transform;
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50px;
    backdrop-filter: blur(7px) brightness(1.5) saturate(1.1);
    width: 50px;
    height: 50px;
    transition: 0.3s;
    z-index: 0;
    content: '';
    box-shadow: 2px 2px 3px -5px rgb(255, 255, 255) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.56) inset, 0px 0px 15px rgba(0, 0, 0, 0.37);
}
movie:hover p{
    transform: translateY(0px);
}
section[fill] img{
    height: 100%;
}
fullwindow{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: red;
    transition: 0.2s;
    left: 0;
    top: 0;
}
fullwindow[closing]{
    transform: translateX(100vw);
}
[back]::before{
    font-family: bootstrap-icons !important;
    content: '\F284';
    font-size: 14px;
    color: white;
}
[back]{
  width: 37px;
  height: 37px;
  position: fixed;
  left: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
  background: #0000003b;
  backdrop-filter: blur(20px) brightness(1.5);
  border: none;
  box-shadow: 2px 2px 3px -5px rgb(255, 255, 255) inset, -2px -2px 2px -3px rgba(255, 255, 255, 0.38) inset, 0px 0px 15px rgba(0, 0, 0, 0.69);
}
[back]:active{
    transform: scale(1.07);
  transition: 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    filter: brightness(3) saturate(1.3);
    box-shadow: 2px 2px 3px -4px rgba(255, 255, 255, 0.45) inset, -2px -2px 2px -1px rgba(255, 255, 255, 0.12) inset, 0px 0px 15px rgba(0, 0, 0, 0.69);
}